* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: g;
  src: url("/frontend/assets/fonts/Georgia.ttf");
}

.g {
  font-family: g;
}

a {
  text-decoration: none;
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
}

.flex {
  display: flex;
}
.column {
  flex-direction: column;
}
.wrap {
  flex-wrap: wrap;
}
.jc-center {
  justify-content: center;
}
.jc-start {
  justify-content: flex-start;
}
.jc-end {
  justify-content: flex-end;
}
.jc-sb {
  justify-content: space-between;
}
.jc-sa {
  justify-content: space-around;
}
.jc-se {
  justify-content: space-evenly;
}
.ai-center {
  align-items: center;
}
.ai-start {
  align-items: flex-start;
}
.ai-end {
  align-items: flex-end;
}

.wrapper {
  width: 100vw;
  height: 100vh;
}

.navbar {
  width: 100vw;
  height: 10vh;
  padding: 15px;
  background-color: #333;
}
.navbar-title {
  font-size: 30px;
  color: white;
}
.navbar-elements {
  width: 40%;
}

.page {
  width: 100vw;
  height: 90vh;
  padding: 50px;
}
.page-title {
  font-size: 50px;
  margin-bottom: 20px;
}
.content {
  width: 100vw;
  flex-wrap: wrap;
}

.news-card {
  width: 300px;
  height: 200px;
  padding: 15px;
  margin: 10px;
  box-shadow: #8c8c8c 0 0 6px;
}
.news-card > div {
  margin-bottom: 10px;
}
.news-description {
  font-size: 1.4rem;
}
